h1{
    text-align: center;
    color:brown;
    background-color: rgb(247, 160, 0);
    border: 2px solid green;
    font-size: 20px;
}
.Nadal{
    border: 2px solid black;
    width: 100%;
    padding: 5px;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    position: static;
    margin-top: 0px;
}
.nombres{
    color: green;
    font-style: italic;
}
.centro {
    display: flex;
}
.izquierda {
    flex: 1;
    margin-right: 10px;
}
.derecha {
    margin-top: 0px;
    flex: 1;
    padding: 10px;
}