body {
 background-image: url("../fondo.png");
 font-family: Arial, Helvetica, sans-serif;
}
div {
 color: rgb(250, 250, 250);
 text-align: center;
}
#bloque1 {
 width: 400px;
 height: 200px;
 background-color: rgb(170, 170, 170); /* Gris claro */
}
#bloque2, #bloque3 {
 margin: 10px;
 width: 100px;
 height: 50px;
 background-color: rgb(100, 100, 100); /* Gris oscuro */
}
#bloque2 {
 position: absolute;
 bottom: 0px;
 right: 0px;
}
