/*
    @font-face {
        font-family: Bybsy;
        src: url(multimedia/bybsy-regular-webfont.ttf);
    }
*/

/*
    @font-face {
        font-family: Comfortaa;
        src: url(multimedia/Comfortaa-Regular.ttf);
    }
*/
body{
    background-image: url(./multimedia/Vicente_Blasco_Ibanez.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}
h1{
    /* font-family: Bybsy; */
    /* font-size: 300%; */
    /* font-variant: small-caps; */
    /* letter-spacing: 30px; */
    /* text-shadow: 3px 3px 5px rgb(255, 0, 0);
    text-decoration: underline overline; */
    background-image: url(./multimedia/fondo.png);
    cursor: pointer;
    color: black;
}
p{
    /* font-family: Comfortaa; */
    /* text-align: justify; */
    /* text-indent: 40px; */
}
.primero{
    /* font-size: 110%; */
    /* font-weight: bold; */
    /* word-spacing: 20px; */
    color: rgb(0, 0, 255);
}
.segundo{
    /* font-size: 90%; */
    /* font-style: italic; */
    /* line-height: 2; */
    opacity: 0.6;
    color: rgb(0, 0, 255);
}
.normal{
    font-style: normal;
}
.palabra{
    text-decoration: underline;
}
.subra{
    /* text-decoration: line-through; */
    background-color: yellow;
}