/*
    @font-face {
        font-family: Bybsy;
        src: url(multimedia/bybsy-regular-webfont.ttf);
    }
*/
/*
    @font-face {
        font-family: Comfortaa;
        src: url(multimedia/Comfortaa-Regular.ttf);
    }
*/
h1{
    /* font-family: Bybsy; */
    font-size: 300%;
    /* font-variant: small-caps; */
    letter-spacing: 30px;
}
p{
    /* font-family: Comfortaa; */
    text-align: justify;
    text-indent: 40px;
}
.primero{
    /* font-size: 110%; */
    /* font-weight: bold; */
    word-spacing: 20px;
}
.segundo{
    /* font-size: 90%; */
    /* font-style: italic; */
    line-height: 35px;
    text-transform: capitalize;
}
.normal{
    font-style: normal;
}