@font-face {
    font-family: Bybsy;
    src: url(multimedia/bybsy-regular-webfont.ttf);
}
@font-face {
    font-family: Comfortaa;
    src: url(multimedia/Comfortaa-Regular.ttf);
}
h1{
    font-family: Bybsy;
}
p{
    font-family: Comfortaa;
}