body{
    background-image: url(../fondo.png);
}
div{
    width: 120px;
    height: 80px;
    background-color: #546c8c;
    color: white;
    border-radius: 5px;
    text-align: center;
    display: inline;
    margin: 10px;
}