body{
    background-image: url(../fondo.png);
}
div{
    display: inline-block;
    vertical-align: top;
    margin-right: 300px;
    border: 2px solid #546c8c;
    border-radius: 5px;
    width: 120px;
    height: 85px;
    text-align: center;
    padding: 0;
    background-color: #546c8c;
    color: white;
    box-sizing: border-box;
}