body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{
    color:blue;
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: bold;
}
.subtitulo{
    font-size: 24px;
    color: rgb(139, 0, 0);
    list-style-type: circle;
    margin-bottom: 30px;
    margin-top: 30px;
}
.normal{
    margin-left: 50px;
    list-style-type: square;
}