h1{
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: center;
    color: blue;
    border: 10px double green;
    padding: 5px;
}
img {
    margin-top: 0px;
    padding: 10px;
    border: 3px solid green;
    border-radius: 30px;
    width: 300px;
    margin-left: 30px;
}