body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 20px;
}

.image-section {
  max-width: 400px;
  height: auto;
}

.login-section {
  background-color: #050505;
  padding: 40px;
  border: 1px solid #000000;
  border-radius: 8px;
  width: 300px;
}

.login-section h1 {
  font-family: 'Segoe UI', sans-serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  background-color: #fafafa;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #3897f0;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.options {
  text-align: center;
  margin-top: 20px;
}

.options a {
  color: #00376b;
  font-size: 14px;
  text-decoration: none;
}

.divider {
  margin: 10px 0;
  font-size: 14px;
  color: #999;
}

.facebook-login {
  background-color: #4267B2;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

.register {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.register a {
  color: #3897f0;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  color: #999;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer ul li a:hover {
  color: #fff;
  transition: color 0.2s;
}

footer ul li {
  margin: 0 10px;
}

footer ul li a {
  color: #999;
  text-decoration: none;
}
