h1{
    text-align: center;
    color: rgb(158, 1, 1);
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
table{
    margin: auto;
    border: 1px solid black;
}
td{
    width: 100px;
    border: 1px solid black;
    text-align: center;
}
.titulo{
    background-color: rgb(184, 242, 252);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.izquierda{
    background-color: rgb(204, 204, 204);
}
img{
    width: 40px;
}


