body{
    background-color: black;
}
h1{
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 10px double green;
    padding: 5px;
}
img {
    margin-top: 0px;
    padding: 10px;
    border: 3px solid green;
    border-radius: 30px;
    width: 300px;
    margin-left: 60px;
    box-shadow: 0 0 70px rgba(129, 255, 129, 0.911);
}